# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# backend
backend/env
backend/__pycache__/

# frontend
frontend/node_modules/
frontend/build/
frontend/.env*

# other dependencies
**/node_modules
dependencies_layer
python