.App {
  text-align: center;
  background-color: #283447;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-basis: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-container {
  max-width: 80%;
  color: white;
  background-color: '#283447';
  border: 1px solid white;
}

.table-header {
  background-color: #E0FBFC;
  color: black;
  font-weight: 700;
}